sudo: required
dist: trusty
language: generic

before_install:
  # Install Linuxbrew
  - ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install)"
  - PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
  - echo 'export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"' >>~/.bash_profile
  - brew --version
  # Install Buck
  - brew tap facebook/fb
  - brew install buck
  - buck --version
  # Install GCC
  - brew install gcc
  # Experiments
  - pwd
  - ls -a /home/travis/.cache/Homebrew/
  - ls -a /home/linuxbrew
  - ls -a ~/
  - ls -a ~/.linuxbrew

script:
  - buck build :hello

branches:
  except:
    - gh-pages

cache:
  directories:
    - /home/linuxbrew/
