sudo: required
dist: trusty
language: generic

before_install:
    # Install Linuxbrew
    - ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install)"
    - PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
    - echo 'export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"' >>~/.bash_profile
    # Install Buck
    - brew tap facebook/fb
    - brew install buck
    - buck --version

script:
    - buck build :hello

branches:
  except:
    - gh-pages

addons:
  apt:
    packages:
      - build-essential
      - default-jdk
      - ant
      - python
      - git
      - ruby
      - zip
      - clang
